body {
    background-color: #001220;
    color: hsl(0, 0%, 100%);

}

#opening {
    background-color: #920097;
    padding: 7rem 0;
}

#bio {
    padding: 3rem 0;
}

#projects {
    padding: 3rem 0 ;
    background-color: #393E46;
}

#known-langs {
    text-align: center;
    background-color: #222831;
    padding: 3rem 0;
}

#cta {
    text-align: center;
    margin-top: 5rem;
    padding-top: 0rem;
}

.welcome {
    margin: 3rem 0 0 3rem;
}

.email-button {
    margin: 5rem 0 0 10rem;
}


.lang-icons {
    height: 3rem;
}

.enter-svg-spacer {
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves-purple {
    background-image: url(../images/waves.svg);
}

.link-icon {
    height: 1.7rem;
    margin: 0 2rem 0 2rem;
}

.cta-text {
    margin-bottom: 2rem;
}

.per-photo {
    height: 13rem;
}

.projects-text {
    margin-bottom: 3rem;
}

.wow-meme {
    height: 12rem;
}

.languages {
    padding: 2rem 0 0 0;
}