body {
    background-color: #EEEEEE;
    color: #393E46;

}

#opening {
    background-color: #00ADB5;
    padding: 4rem 0;
}

#projects {
    padding: 3rem 0 ;
    background-color: #393E46;
    color: #EEEEEE;
}

#known-langs {
    text-align: center;
    padding: 3rem 0;
    
   
}

#cta {
    text-align: center;
    padding: 2rem 0;
    background-color: #222831;
    color: #EEEEEE ;
}



.welcome {
    margin: 3rem 0 0 3rem;
}

.email-button {
    margin: 5rem 0 0 10rem;
}


.lang-icons {
    height: 3rem;
}

.enter-svg-spacer {
    aspect-ratio: 900/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves-purple {
    background-image: url(../images/waves.svg);
}

.link-icon {
    height: 1.7rem;
    margin: 0 2rem 0 2rem;
}

.cta-text {
    margin-bottom: 2rem;
}

.per-photo {
    height: 13rem;
    margin-top: 1rem;
}

@media screen and (max-width: 400px) {
    .per-photo {
        height: 6rem;
    }
}

.projects-text {
    margin-bottom: 3rem;
}

.wow-meme {
    height: 12rem;
}

.languages {
    padding: 2rem 0 0 0;
}

.footer {
    text-align: right;
    margin: 0;
    background-color: #222831;
    color: #EEEEEE;
}

.footer-text {
    margin: 0 1rem;
}
