body {
    background-color: #001220;
    color: hsl(0, 0%, 100%);

}

#opening {
    background-color: #920097;
    padding: 7rem 0;
}

.welcome {
    margin: 3rem 0 0 3rem;
}

.email-button {
    margin: 5rem 0 0 10rem;
}

.wow-meme {
    height: 10rem;
}

.lang-icons {
    height: 3rem;
}

.enter-svg-spacer {
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves-purple {
    background-image: url(../images/waves.svg);
}

.link-icon {
    height: 3rem;
}